*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
 }

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #126619;
    position: fixed;
    top: 0;
    left: 0;
    /*height: 100%;
    width: 20%;*/
}

.navbar-collapse-button{
    width: 100px;
    height: 100%;
}

.navbar-content{
    margin: 0.7em;
    text-align: center;
}

.navbar-content a{
    text-transform: uppercase;
    display: inline-block;
    line-height: 2em;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.navbar-content a:hover, .navbar-content a.selected{
    color: rgba(255, 255, 255, 0.8);
}

.navbar-photo{
    align-self: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid rgb(65, 138, 32);
}

.navbar span{
    margin: 0.7em;
    font-weight: 600;
}

.navbar + *{
    margin-left: 14%;
}

.site_main{
    padding: 0 5%;
}

.site-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.site-heading{
    font-family: 'Montserrat', serif;
    font-variant: small-caps;
    font-size: 100px;
    font-weight: 700;
}

.site-subheading{
    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5%;
}

.social{
    margin: 1em 0;
    font-size: 3em;
}

.social a{
    text-decoration: none;

}
.social a:link{color:inherit}
.social a:visited{color:inherit}
.social a:hover{
    color: #126619;
}
.social a:active{color:inherit}

.highlight{
    text-decoration: none;
    color: #126619;
}

.blag_post{
    margin-bottom: 5%;
    font-size: 1.3em;
}

.blag_post h2{
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid #dddddd;
}

.blag_post p{
    margin-left: 3%;
    margin-bottom: 1%
}

.blag_post time{
    display: block;
    font-size: 0.8em;
    text-align: right;
    color: #aaaaaa;
}

.blag_post time::before{
    content: "["
}

.blag_post time::after{
    content: "]"
}

@media (min-width: 820px){
    .navbar{
        width: 14%;
        height: 100%
    }
    .navbar-collapse-button{
        display: none;
    }
}


@media (max-width: 819px){
    .navbar{
        width: 100%;
        height: 7%;
        align-items: flex-end;
    }
    .navbar-photo, .navbar-content{
        display: none;
    }
}