.jon{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
 .nopadding{
    padding: 0 !important;
    margin: 0 !important;
 }

.white-text{
    color: white;
}

.white-text:hover{
    color: white;
    text-decoration: none;
}

.nav-internal > a{
    display: block;
}

#sidebar {
    position: -webkit-sticky;  // required for Safari
    position: sticky;
    top: 0; // required as well.
}   