*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
}

.jon{
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
 .nopadding{
    padding: 0 !important;
    margin: 0 !important;
 }

.white-text{
    color: white;
    
}

a.white-text:hover, .white-text a:hover{
    color: #DDD;
}

.sidebar-nav-internal{
    margin: 0.7em;
}

.sidebar-nav-internal a{
    position: relative;
    display: inline-block;
    line-height: 1.3em;
    margin-bottom: 0.5em;;
}

.sidebar-nav-internal a::after{
    content: " ";
    position: absolute;
    display: block;
    height: 0.05em;
    width: 0%;
    background-color: white;
}

.sidebar-nav-internal a:hover::after{
    transition: width 0.5s;
    width: 100%;
}

a.selected::after{

}

.sidebar-nav-external{
    margin: 0.7em;
}

.sidebar-nav-external a{
    font-size: 1.5em;
    flex: 1 1 auto;
}

.sidebar {
    background-color: burlywood;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em;
    /*height: 100%;
    width: 20%;*/
    font-family: Georgia, sans-serif;
}


.sidebar span{
    margin: 0.7em;
    font-weight: 600;
}

.sidebar a{
    color: inherit;
    text-decoration: none;
}

.sidebar + div{
    margin-left: 20%;
}

.sidebar-title{
    margin: 0.5em;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
}
.sidebar-subtitle{
    margin: 0.5em;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.site_main{
    padding: 5% 10%;
}

.blag_post{
    margin-bottom: 5%;
    font-size: 1.3em;
}

.blag_post h2{
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 1%;
    padding-bottom: 1%;
    border-bottom: 1px solid #dddddd;
}

.blag_post p{
    margin-left: 3%;
    margin-bottom: 1%
}

.blag_post time{
    display: block;
    font-size: 0.8em;
    text-align: right;
    color: #aaaaaa;
}

.blag_post time::before{
    content: "["
}

.blag_post time::after{
    content: "]"
}

@media (min-width: 820px){
    .sidebar{
        width: 20%;
        height: 100%
    }
}